*.o
*.so
*.iml
.DS_Store
bin/
.idea/
changeserver/changeserver
changeserver/data/
snapshotserver/snapshotserver
.vscode
test-reports/
docker-test-reports/
bootstrap/config.json
bootstrap/node_modules
bootstrap/test.out
